@model ControlUniformes.Models.Entities.DetalleOrden

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>DetalleOrden</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdOrden" class="control-label"></label>
                <select asp-for="IdOrden" class ="form-control" asp-items="ViewBag.IdOrden"></select>
            </div>
            <div class="form-group">
                <label asp-for="Articulo" class="control-label"></label>
                <input asp-for="Articulo" class="form-control" />
                <span asp-validation-for="Articulo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descripcion" class="control-label"></label>
                <input asp-for="Descripcion" class="form-control" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalPiezas" class="control-label"></label>
                <input asp-for="TotalPiezas" class="form-control" id="totalPiezas" onchange="CalcularTotal()"/>
                <span asp-validation-for="TotalPiezas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tallas" class="control-label"></label>
                <input asp-for="Tallas" class="form-control" />
                <span asp-validation-for="Tallas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrecioUnitario" class="control-label"></label>
                <input asp-for="PrecioUnitario" class="form-control" id="precioUnitario" onchange="CalcularTotal()"/>
                <span asp-validation-for="PrecioUnitario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImporteTotal" class="control-label"></label>
                <input asp-for="ImporteTotal" class="form-control" id="importeTotal" readonly/>
                <span asp-validation-for="ImporteTotal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script type="text/javascript">
    function CalcularTotal()
    {
        let precioU = $("#precioUnitario").val();
        let totalP = $("#totalPiezas").val();
        let importeT = precioU * totalP;
        $("#importeTotal").val(importeT);
    }
</script>
